<h1>Pipes</h1>


<hr>
<a id="birthday-date-pipe"></a>
<h2>Birthday DatePipe</h2>
<p>The hero's birthday is {{ birthday | date:'fullDate'| uppercase }}</p>

<p>The hero's birthday is {{ birthday | date:"MM/dd/yy" }} </p>
<hr>


<a id="power-boost-calc"></a>
<power-boost-calculator>loading</power-boost-calculator>

<hr>
<a id="flying-heroes"></a>
<flying-heroes></flying-heroes>

<hr>
<a id="flying-heroes-impure"></a>
<flying-heroes-impure></flying-heroes-impure>

<hr>
<a id="hero-message"></a>
<!-- async examples at the top so can see them in action -->
<hero-message></hero-message>

<hr>
<a id="hero-list"></a>
<hero-list></hero-list>

<div style="margin-top:12em;"></div>